.vscode/
node_modules/
package-lock.json
.idea
*.real.js
dist
.parcel-cache
yarn-error.log
debug

# publish config
.npmrc

# yarn config
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*